* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background: radial-gradient(#fff, #ffd6d6);
}

.logo {
  margin: 10px;
}

.horizontal-menu {
  flex: 1;
  text-align: right;
  width: 200px;
  display: inline-block;
  font-size: 18px;
}

.horizontal-menu a {
  float: right;
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.horizontal-menu a:hover {
  background-color: #ccc;
}

.horizontal-menu a.active {
  background-color: #c58397;
  color: white;
}

.main-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: radial-gradient(#fff, #ffd6d6);
}
.main-header h1 {
  font-size: 50px;
}

.title {
  text-align: center;
  font-size: 40px;
  padding: 80px;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.table {
  border: 1px solid rgb(0, 0, 0);
  padding: 30px;
}

.table-items {
  font-size: 26px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
}

.shop-item-price {
  color: #333;
  font-size: 18px;
}

.AddToCart-button {
  color: white;
  background-color: #56ccf2;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  margin-left: 10px;
}

.form {
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  padding: 50px;
  margin-bottom: 50px;
}

.form-label {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  color: #333;
}

.form-input {
  margin-bottom: 10px;
  font-size: 24px;
}

.button-add {
  color: white;
  background-color: #56ccf2;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
}
